.main-content{
    padding: 50px 100px;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-input{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: whitesmoke;
    outline: none;
    padding: 0 20px;
}

.form-select{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: whitesmoke;
    outline: none;

    margin-right: 30px;
}

.form-btn{
    width: 100px;
    height: 40px;
    background: #333333;
    color: white;
    border: none;
    border-radius: 5px;
}

.form-result{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}